
.playlist-card{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    background-color: rgb(241, 241, 241);

}
.playlist-card img{
    height: 75px;
    width: 75px;
}
.playlist-name{
    flex-grow: 2;
    max-width: 15rem;
    font-weight: bold;
    overflow: hidden;
}
.playlist-description{
    flex-grow: 2;
    max-width: 24rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

.playlist-name{
    padding-top: 10px;
}
.playlist-tracks{
    flex-grow: 0.5;
    max-width: 13rem;
    padding-top: 0.5rem;
    margin-left: auto;
    display: flex;
}
.playlist-followers{
    flex-grow: 0.5;
    max-width: 13rem;
    padding-top: 0.5rem;
}
.playlist-followers-div{    
    display: flex;
}
.playlist-arrow{
    margin-left: 0.5rem;
}

.playlist-headers{
    display: flex;
}
.playlist-headers::after{
    content: "";
    width: 94.5%;
    height: 40px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.616);
    position: absolute;
    left: 38px;
}
.playlist-header-name{
    flex-grow: 5;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
}
.playlist-description{
    width: 250px;
}
.playlist-header-track{
    flex-grow: 1;
    font-weight: bold;
    margin-left: 10rem;
}

.playlist-header-followers{
    flex-grow: 1;

}

.playlist-buttons{
    background-color: var(--color-lightGray);

    width: 28rem;
    height: 100vh;
    position: relative;

}
.playlist-buttons-container{
    width: 22rem;
    position: absolute;
    right: 0;
    top: 8rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;

}
.btn-sidebar{
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    color: var(--color-letter);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s ease-in;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-sidebar:hover{
    font-weight: 500;
    font-size: 0.92rem;
    cursor: pointer;
}
.list-icons{
    font-size: 1.5rem;
}

  .playlist-message{
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgb(230, 188, 84);
      height: 2.1rem;
      display: inline-block;
      text-align: center;
      padding: 0.5rem;
      border-radius: 15px;
  }