.btn-big{
    background: var(--color-btn);
    padding: 12px 12px;
    border-radius: 20px;
    color: var(--color-primary);
    font-size: var(--fs-p);
    border: none;
    transition: all 0.2s;
  }

  .btn-big:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
    background: var(--color-btn-selected);
    cursor: pointer;
  }
  .btn-big:active{
    transform: translateY(0);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
    background: var(--color-btn);
    color: var(--color-primary);
  }


  /* WEBAPP */
  .webapp-btns{
      position: absolute;
      right: 4rem;
      top: 7rem
  }
/* GETPLAYLIST */
  .playlist-container{
  margin-top: 10rem;
  }
