
.listbase-list-container{
    background-color: var(--color-gray);
    margin: 1rem 0;
    color: var(--color-letter);
}
.listbase-list{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1rem;
}

.listbase-item p{
    padding-bottom: 0.3rem;
}
.listbase-item span, .listbase-item-name{
    font-weight: bold;
}
.listbase-btn {
    background-color: rgb(220, 75, 39);
    border-radius: 10px;
    color: var(--color-primary);
    border: none;
    font-size: 1.6rem;
    padding: 0.2rem 0.6rem;
    transition: all 0.2s;
    position: absolute;
    top: -1rem;
    right: -1rem;
    cursor: pointer;
}
.listbase-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
}
.listbase-btn:active{
    transform: translateY(-1px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.356);
}
.listbase-top{
    background-color: rgb(41, 41, 41);
    position: relative;
    text-align: center;
    padding: 0.5rem;
}
.listbase-date{
    background-color: var(--color-green);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.4rem;
    color: white;
}