
.listbase-list-container{
    background-color: rgb(241, 241, 241);
    padding: 1rem 1rem 0.1rem 1rem;
    margin: 1rem 0;
    border-radius: 20px;
}
.listbase-list{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.listbase-item p{
    padding-bottom: 0.3rem;
}
.listbase-item span, .listbase-item-name{
    font-weight: bold;
}
.listbase-btn {
    background-color: rgb(210, 66, 30);
    border-radius: 10px;
    color: var(--color-primary);
    border: none;
    font-size: 1.5rem;
    padding: 0.4rem 0.7rem;
    transition: all 0.2s;
}
.listbase-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
}
.listbase-btn:active{
    transform: translateY(-1px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.356);
}
.listbase-outerlist{
    display: flex;
    justify-content: space-between;
}