
.listbase-list-container{
    background-color: rgb(241, 241, 241);
    padding: 1rem 1rem 0.1rem 1rem;
    margin: 1rem 0;
    border-radius: 20px;
}
.listbase-list{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}
/* .listbase-item{
    margin: 0 1rem;
} */
.listbase-item p{
    padding-bottom: 0.3rem;
}
.listbase-item span, .listbase-item-name{
    font-weight: bold;
}
.listbase-item-name {
    
}