
.navbar{
    width: 100%;
    padding: 20px 10px;
    background: #06D061;
    margin: 0;
}

.navbar-list{
    display: flex;
    justify-content: space-between;
    color: var(--color-primary);
    font-size: var(--fs-h5);
    align-items: center;
    width: 1400px;
    margin: 0 auto;
}
.nav-btn{
    background: var(--color-secondary);
    border: none;
    border-radius: 25px;
    padding: 6px 12px;
    color: var(--color-primary);
    font-size: var(--fs-small);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-icon{
    font-size: 2rem;
}
.nav-user{

}
/* .nav-btn:hover{
    background: var(--color-btn-selected);
    color: var(--color-primary);
    cursor: pointer;
  }
  .nav-btn:active{
    transform: scale(0.95);
  } */