@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root{
  --fs-h1: 3rem;
  --fs-h2: 2.2rem;
  --fs-h3: 1.8rem;
  --fs-h4: 1.5rem;
  --fs-h5: 1.2rem;
  --fs-h6: 1.1rem;
  --fs-p: 1rem;
  --fs-small: 0.9rem;

  --color-primary: rgb(255, 255, 255);
  --color-secondary: #232323;
  --color-lightGray: #404040;
  --color-green: #06D061;
  --color-letter: #e2e2e2;
  --color-lightgreen: #13e973;
  --color-gray: #444444;

  --color-btn: #139A43;
  --color-btn-selected: rgb(92, 202, 80);
  --color-light: #DFF3E3;
  --color-lightHover:rgb(206, 241, 213)3;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-secondary);
}

ul{
  list-style-type: none;
}

.btn{
  background: none;
  border: 2px solid var(--color-btn);
  padding: 6px 12px;
  border-radius: 4px;
  color: var(--color-btn);
  font-size: var(--fs-p);
}
.btn:focus{
  background: var(--color-btn);
  color: var(--color-primary);
}
.btn-selected{
  background: var(--color-btn);
  color: var(--color-primary);
}

.btn:hover{
  background: var(--color-btn);
  color: var(--color-primary);
  cursor: pointer;
}
.btn:active{
  transform: scale(0.95);
}

.center{
  text-align: center;
}

.margin-top-2{
  margin-top: 2rem;
}

.container{
  width: 1400px;
  margin: 0 auto;
}

.home{
position: relative;
}

.btn-spotify{
  position: absolute;
  left: 3rem;
  z-index: 100;
  top: 2rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  color: var(--color-letter);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  transition: all 0.1s ease-in;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.btn-spotify:hover{
  font-weight: 700;
}

.header{
  color: var(--color-letter);
  font-size: var(--fs-h1);
  margin-bottom: 4.5rem;
}

.header::after{
  content: "";
  width: 100%;
  border-bottom: 2px solid var(--color-gray);
  position: absolute;
  top: 5rem;
  left: 0;
}
