@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Quicksand:wght@300;400;500;600;700&family=Sora:wght@200;300;400;700&display=swap");
:root{
  --fs-h1: 3rem;
  --fs-h2: 2.2rem;
  --fs-h3: 1.8rem;
  --fs-h4: 1.5rem;
  --fs-h5: 1.2rem;
  --fs-h6: 1.1rem;
  --fs-p: 1rem;
  --fs-small: 0.9rem;

  --color-primary: rgb(238, 238, 238);
  --color-secondary: #232323;
  --color-lightGray: #404040;
  --color-green: #06D061;
  --color-lightgreen: #13e973;
  --color-gray: #444444;

  --color-btn: #139A43;
  --color-btn-selected: rgb(92, 202, 80);
  --color-light: #DFF3E3;
  --color-lightHover:rgb(206, 241, 213)3;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Sora, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-secondary);
}

ul{
  list-style-type: none;
}

.btn{
  background: none;
  border: 2px solid var(--color-btn);
  padding: 6px 12px;
  border-radius: 4px;
  color: var(--color-btn);
  font-size: var(--fs-p);
}
.btn:focus{
  background: var(--color-btn);
  color: var(--color-primary);
}
.btn-selected{
  background: var(--color-btn);
  color: var(--color-primary);
}

.btn:hover{
  background: var(--color-btn);
  color: var(--color-primary);
  cursor: pointer;
}
.btn:active{
  transform: scale(0.95);
}

.center{
  text-align: center;
}

.margin-top-2{
  margin-top: 2rem;
}

.container{
  width: 1400px;
  margin: 0 auto;
}

